/*section {*/
/*color: #fff;*/
/*text-align: center;*/
/*}*/

/*.container {*/
/*display: table;*/
/*width: 100%;*/
/*}*/

/*.left-half {*/
/*background-color: #ff9e2c;*/
/*position: absolute;*/
/*left: 0px;*/
/*width: 50%;*/
/*}*/

/*.right-half {*/
/*background-color: #b6701e;*/
/*position: absolute;*/
/*right: 0px;*/
/*width: 50%;*/
/*}*/