{% extends "base.html" %}

{% block content %}

<div>
    <h2>Add New Existed Product to Inventory</h2>
    <a href="{{ url_for('inventory.inventory', sid=current_user.id) }}">Go back to inventory page</a>
</div>
    {% if newly_added_pid != -1 %}
    <p>You have added a product with product ID {{ newly_added_pid }} recently.</p>
    {% endif %}

<form action="" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p>
    {{ form.pid.label }}<br/>
    {{ form.pid(size=32) }}<br/>
    {% for error in form.pid.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.price.label }}<br/>
    {{ form.price(size=32) }}<br/>
    {% for error in form.price.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.quantity.label }}<br/>
    {{ form.quantity(size=32) }}<br/>
    {% for error in form.quantity.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</form>

{% endblock %}
