{% extends "base.html" %}

{% block content %}

    <style>
        .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center
        }

        .rating > input {
            display: none
        }

        .rating > label {
            position: relative;
            width: 1em;
            font-size: 6vw;
            color: #FFD600;
            cursor: pointer
        }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important
        }

        .rating > input:checked ~ label:before {
            opacity: 1
        }

        .rating:hover > input:checked ~ label:before {
            opacity: 0.4
        }


    </style>
    <h2>{{ 'Write a review' if isNewReview else 'Update Your Review' }}</h2>


    <div class="container">
        <form id="review_form" method="post">
            <div class="mb-3">
                <div class="rating">
                    <input type="radio" name="rating" value="5" id="5" {{ "checked" if previous_review.rating==5 }}><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4" {{ "checked" if previous_review.rating==4 }}><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3" {{ "checked" if previous_review.rating==3 }}><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2" {{ "checked" if previous_review.rating==2 }}><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1" {{ "checked" if previous_review.rating==1 }}><label for="1">☆</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
                <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3">{{ previous_review.description }}</textarea>
            </div>


            <button type="submit" class="btn btn-primary">{{ 'Submit' if isNewReview else 'Update Your Review' }}</button>
        </form>
    </div>

{#    <form >#}
{#        <fieldset>#}
{#            <legend>Your rating:</legend>#}
{##}
{#            {% for i in range(1,6) %}#}
{#                <input type="radio" id="{{ i }}" value="{{ i }}" name="rating" {{ "checked" if default_rating==i }} >#}
{#                <label for="{{ i }}">{{ "⭐" * i }}️</label><br/>#}
{#            {% endfor %}#}
{#        </fieldset>#}
{##}
{#        <label>#}
{#            <textarea name="comment" form="review_form"#}
{#                      placeholder="Enter your comments here...">{{ default_comments }}</textarea>#}
{#        </label>#}
{##}
{#        <input type="hidden" id="action" name="action" value="{{ default_review_submit_action }}">#}
{##}
{#        <input type="submit"#}
{#               value="{{ 'Submit New Review' if default_review_submit_action == 'add_review' else 'Update Your Review' }}"#}
{#               class="btn btn-dark" {{ 'disabled' if not current_user.is_authenticated or not is_adding_new_review_allowed }}>#}
{#        {% if not current_user.is_authenticated %}#}
{#            <p>You must log in before submitting a review.</p>#}
{#        {% endif %}#}
{#    </form>#}
{% endblock %}