{% extends "base.html" %}

{% block content %}

    <div class="container">
    <h1>Balance</h1>
    <br>
    <h3>Current Balance: {{ balance }}</h3>
    <br>
    <div id="withdraw">
        <form action="" method="post">


            {{ withdraw_form.hidden_tag() }}

            {{ withdraw_form.withdraw_amount.label }}
            {{ withdraw_form.withdraw_amount(size=8) }}
            {% for error in withdraw_form.withdraw_amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ withdraw_form.submit_withdraw() }}
        </form>
    </div>
    <br>


    <div id="toppedup">
        <form action="" method="post">


            {{ topped_up_form.hidden_tag() }}

            {{ topped_up_form.topped_up_amount.label }}
            {{ topped_up_form.topped_up_amount(size=8) }}
            {% for error in topped_up_form.topped_up_amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ topped_up_form.submit_topped_up() }}
        </form>
    </div>
    <br><br><br>
    <h2>Your balance history:</h2>
    <br>
    <h4>Overall Shopping Spending Amount: ${{ spending_amount }}</h4>
    <br>
    <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Time</th>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in balance_transaction %}
            <tr>
                <th scope="row">{{ transaction.id }}</th>
                <td>{{ transaction.time_ }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.type_of_transaction }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <br>
    <br>
    <div class="container" id="main" style="width: 800px;height:400px;"></div>
    <div class="container" id="category_pie" style="width: 800px;height:400px;"></div>

    </div>
    <script type="text/javascript">



        let echartsObj = echarts.init(document.querySelector('#main'));
        let category_pie_chart_obj = echarts.init(document.querySelector('#category_pie'));


        let historyRefuelling = [["2018-08-15T10:04:01.339Z", 5], ["2018-08-15T10:14:13.914Z", 7]]

        let historyTheft = []


        axios.get('/api/balanceHistory').then(resp => {

            console.log(resp.data.transactions);
            let balance = Number(resp.data.previous_balance);
            for (const transaction of resp.data.transactions) {
                balance += transaction.amount
                historyTheft.push([transaction.time_, balance])
            }
            option = {
                color: ["#009C95", "#21ba45"],
                title: {
                    text: 'Balance History',
                    textStyle: {
                        fontFamily: 'lato'
                    }
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                tooltip: {
                    trigger: 'axis'
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'time',
                        boundaryGap: false,
                        axisLabel: {
                            formatter: (function (value) {
                                return moment(value).format('MM-DD HH:mm');
                            })
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                dataZoom: [
                    {
                        type: 'inside',

                    },
                    {

                    }
                ],
                series: [

                    {
                        name: 'Balance',
                        type: 'line',
                        smooth: true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data: historyTheft
                    }
                ]
            }
            console.log(historyTheft)
            console.log(option)
            echartsObj.setOption(option)
        });


    </script>


{% endblock %}