<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mini Amazon</title>
{#    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">#}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/require.js') }}"></script>


    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        form.float > p {
            float: left;
            margin-left: 2%;
        }

        .main-head {
            height: 150px;
            background: #FFF;
        }

        .sidenav {
            height: 100%;
            background-color: #000;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .main {
            padding: 0px 10px;
        }

        .login-main-text {
            margin-top: 20%;
            padding: 60px;
            color: #fff;
        }

        .login-main-text h2 {
            font-weight: 300;
        }

        .btn-black {
            background-color: #000 !important;
            color: #fff;
        }
    </style>
</head>

<body>
<div class="sidenav">
    {% block msg %}
        <h1 style="color:aliceblue">Welcome to CompSci 516 Mini Amazon!</h1>



        <div style="color: aliceblue; text-align: right; margin-bottom: 25px">
            {% if current_user.is_authenticated %}
                Hello {{ current_user.firstname }}!
            {% endif %}
            <a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Home</a>
            <a href="{{ url_for('product.browser',page=1,limit=40) }}" type="button" class="btn btn-light">Products</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('reviews.review') }}" type="button" class="btn btn-light">Reviews</a>
                <a href="{{ url_for('users.purchase_history') }}" type="button" class="btn btn-light">Purchases</a>
                <a href="{{ url_for('users.balance') }}" type="button" class="btn btn-light">Balance</a>
                <a href="{{ url_for('users.editProfile') }}" type="button" class="btn btn-light">Edit Profile</a>
                <a href="{{ url_for('seller.seller',sid = current_user.id) }}" type="button" class="btn btn-light">Seller
                    Page</a>
                <a href="{{ url_for('users.logout') }}" type="button" class="btn btn-light">Log out</a>
            {% else %}
                <a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a>
            {% endif %}
            <a href="{{ url_for('cart.cart') }}" type="button" class="btn btn-light">My Cart</a>

        </div>
    {% endblock %}
</div>
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>
</body>

</html>
