{% extends "base.html" %}

{% block content %}

<div>
    <h2>Edit Inventory Product</h2>
</div>

<form action="" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p>
    {{ form.price.label }}<br/>
    {{ form.price(size=32) }}<br/>
    {% for error in form.price.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.quantity.label }}<br/>
    {{ form.quantity(size=32) }}<br/>
    {% for error in form.quantity.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}