{% extends "base.html" %}

{% block content %}

    <div>
        <h1>Welcome</h1>
    </div>
    <br><br>
    <h2>See selling products:</h2>
    <a id="browser-button" href="{{ url_for('product.browser', page = 1, limit = 40) }}" type="button" class="btn btn-dark">Products
        Browser</a>
    <br><br>

    {% if current_user.is_authenticated %}
    <h2>Current user's public view:</h2>
    <a id="browser-button" href="{{ url_for('users.user_public_view', user_id=current_user.id)}}" type="button" class="btn btn-dark">Public View</a>
    {%  endif %}
{% endblock %}