{% extends "base.html" %}

{% block content %}
    <h2>To add new selling products:</h2>
  <a id="add-existed-inventory-button" href="{{ url_for('inventory.addExistedProduct') }}" type="button" class="btn btn-dark">Add Existed Product</a>
    <a id="add-non-existing-inventory-button" href="{{ url_for('product_editor.product_editor')}}?from=inventory" type="button" class="btn btn-dark">Add Non-existing Product</a>
<br><br>
<h2>Your current selling products:</h2>
<table class='table table-hover table-bordered container', id="inventory-table">
  <thead class="thead-dark">
    <tr class="header">
      <th onclick="sortColumn(0)" scope="col">Product ID</th>
      <th onclick="sortColumn(1)" scope="col">Name</th>
      <th onclick="sortColumn(2)" scope="col">Category</th>
        <th onclick="sortColumn(3)" scope="col">Price</th>
      <th onclick="sortColumn(4)" scope="col">Quantity</th>
    <th onclick="sortColumn(5)" scope="col">Edit</th>
        <th onclick="sortColumn(5)" scope="col">Remove</th>
    </tr>
  </thead>
  {% for item in inventory%}
    <tr>
      <td> {{item.pid}} </td>
      <td><a href="{{ url_for('product.product', pid=item.pid) }}"> {{item.name}} </a></td>
      <td> {{item.category}} </td>
        <td> {{item.price}} </td>
      <td> {{item.quantity}} </td>
    <td><div><p><a href="{{url_for('inventory.editInventory', pid=item.pid, sid=item.sid)}}" type="button" class="btn btn-dark">Edit</a></p></div></td>
    <td><form action="{{url_for('inventory.inventory', sid=item.seller_id, purchase_id=item.purchase_id) }}" id="remove" method="post">
            <input type="hidden" name="action" value="remove">
            <input type="hidden" name="sid" value="{{item.sid}}">
            <input type="hidden" name="pid" value="{{item.pid}}">
            <button type="submit" class="btn btn-dark">Remove</button>
    </form></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
