{% extends "base.html" %}

{% block content %}
<h2>Details</h2>
<br><br>
  <h3>Your Products in this Purchase:</h3>
<table class='table table-hover table-bordered container', id="orders-table">
  <thead class="thead-dark">
    <tr class="header">
      <th onclick="sortColumn(0)" scope="col">Order ID</th>
      <th onclick="sortColumn(1)" scope="col">Product ID</th>
      <th onclick="sortColumn(2)" scope="col">Name</th>
        <th onclick="sortColumn(3)" scope="col">Price</th>
      <th onclick="sortColumn(4)" scope="col">Quantity</th>
       <th onclick="sortColumn(5)" scope="col">Fulfillment</th>
        <th onclick="sortColumn(6)" scope="col">Edit</th>
    </tr>
  </thead>
  {% for item in orders%}
    <tr>
        <td> {{item.id}} </td>
        <td> {{item.product_id}} </td>
        <td> {{item.product_name}} </td>
        <td> {{item.price_at_placement}} </td>
        <td> {{item.qty}} </td>
        <td> {{item.fulfillment_status}} </td>
        <td>
        <form action="{{url_for('orders.orders', sid=item.seller_id, purchase_id=item.purchase_id) }}" id="fulfill" method="post">
            <input type="hidden" name="action" value="fulfill">
            <input type="hidden" name="id" value="{{item.id}}">
            <button type="submit" class="btn btn-dark">Fulfill</button>
        </form>
        </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
