{% extends "base.html" %}

{% block content %}

    <div class="container" style="margin-top: 3%; margin-bottom: 3%">
        <div class="row">
            <div class="col">
                {% if product.image_path is not none %}
                    <img src="/static/{{ product.image_path }}" alt="product image" height="300">
                {% else %}
                    <img src="/static/No_Image_Available.jpg" alt="product image" height="300">
                {% endif %}
            </div>
            <div class="col">
                <div class="row row-cols-1">
                    <div class="col"><p class="fs-1 fw-bold">{{ product.name }}</p></div>

                    <div class="col">
                        <div style="">
                            {% for i in range(1,6) %}

                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                     class="bi bi-star-fill" viewBox="0 0 16 16"
                                     style="color: #FFD600 ">
                                    {% if product.avg_rating >= i %}
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    {% elif i -  product.avg_rating < 1  and i -  product.avg_rating > 0%}

                                        <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                                    {% else %}
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    {% endif %}
                                </svg>

                            {% endfor %}
                        </div>
                        <p class="fs-6" style="display:inline">({{ "%.1f"|format(product.avg_rating) }} out of 5.0)</p>
                    </div>

                    <div class="col">
                        <p>
                        {% if product.price is not none %}
                        <p class="fs-4" style="display:inline">Lowest Price: </p>
                        <p class="fs-2" style="display:inline;color:#B12704!important">${{ product.price }}</p>
                        {% else %}
                        <p class="fs-4" style="display:inline">Price Information Not Available</p>
                        {% endif %}
                        </p>
                    </div>
                    <div class="col"><p class="fs-6">Category: {{ category_name }}</p></div>
                    <div class="col"><p class="fs-6">Description: {{ product.description }}</p></div>

                </div>
            </div>
            <div class="col">
                {% if current_user.is_authenticated %}
                    {% if current_user.id == product.creator_id %}
                        <a href="{{ url_for('product_editor.product_editor') }}/{{ product.id }}" type="button"
                           class="btn btn-light">Edit Product</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function loginAlert() {
            alert("You must login before adding {{product.name}} to the cart!");
        }
    </script>

    {#    <h2>Detail for {{ product.name }}#}
    {#        {% if current_user.is_authenticated %}#}
    {#            {% if current_user.id == product.creator_id %}#}
    {#                <a href="{{ url_for('product_editor.product_editor') }}/{{ product.id }}" type="button"#}
    {#                   class="btn btn-light">Edit Product</a>#}
    {#            {% endif %}#}
    {#        {% endif %}</h2>#}
    {#    <br>#}
    {##}
    {#    {% if product.image_path is not none %}#}
    {#        <img src="/static/{{ product.image_path }}" alt="product image" height="300">#}
    {#    {% else %}#}
    {#        <img src="/static/No_Image_Available.jpg" alt="product image" height="300">#}
    {#    {% endif %}#}
    {##}
    {##}
    {#    <p>${{ product.price }}</p>#}
    {#    <p>Description: {{ product.description }}</p>#}
    {#    <p>Category: {{ category_name }}</p>#}
    {#    <p>Average Rating: {{ "%.1f"|format(product.avg_rating) }}</p>#}
    {#    <p>Number of Reviews: {{ reviews|length }}</p>#}
    <div class="container">
        <h2>Available Sellers</h2>
        <table class='table table-hover table-bordered container'>
            <thead class="thead-dark">
            <tr>
                <th scope="col">Seller</th>
                <th scope="col">Price</th>
                <th scope="col">Available quantity</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for i in inventory %}
                <tr>
                    <th scope="row"><a href="{{ url_for('users.user_public_view',user_id= i.sid) }}">
                        <div style="height:100%;width:100%">
                            {{ i.seller_name }}
                        </div>
                    </a></th>
                    <th scope="row">{{ i.price }}</th>
                    <td>{{ i.quantity }}</td>
                    <td>
                        {% if current_user.is_authenticated %}
                            <form action="{{ url_for('cart.cart') }}" method="post">
                                <input type="hidden" name="action" value="add"/>
                                <input type="hidden" name="inventory_id" value="{{ i.id }}"/>
                                <input type="hidden" name="product_id" value="{{ product.id }}"/>
                                <label for="qty">Quantity:</label>
                                <input type="number" id="qty" name="qty" min="1" max="{{ i.quantity }}" value="1">
                                <input type="submit" value="Add to Cart">
                            </form>
                        {% else %}
                            <button onclick="loginAlert()">Add to Cart</button>
                        {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <h2>Product Reviews</h2>
        <a href="{{ url_for('reviews.addReview', type='product',id=product.id) }}">{{ 'Write a review...' if isNewReview else 'Update your review' }}</a>
        <table class='table table-hover table-bordered container'>
            <thead class="thead-dark">
            <tr>
                <th scope="col">Rating</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Upvotes</th>
                <th scope="col">Vote</th>
            </tr>
            </thead>
            <tbody>
            {% for i in reviews %}
                <tr>
                    <th scope="row">
                        {% for i in range(i.rating) %}
                            ⭐
                        {% endfor %}
                    </th>
                    <td>{{ i.description }}</td>
                    <td>{{ i.time_review }}</td>
                    <td>{{ i.upvote }}</td>
                    <td>
                        {% if current_user.is_authenticated %}
                            <form action="{{ url_for('product.product') }}/{{ product.id }}" id="upvote_form"
                                  method="post">
                                <input type="hidden" name="action" value="upvote">
                                <input type="hidden" name="likes" value="{{ i.upvote }}">
                                <input type="hidden" name="review_id" value="{{ i.id }}">
                                <button type="submit" class="btn btn-link">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                         class="bi bi-chevron-up {{ 'text-primary' if i.isVoted(current_user.id) == 1 else 'text-muted' }}"
                                         viewBox="0 0 16 16">
                                        class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                    </svg>
                                </button>
                            </form>

                            <form action="{{ url_for('product.product') }}/{{ product.id }}" id="down_vote_form"
                                  method="post">
                                <input type="hidden" name="action" value="down_vote">
                                <input type="hidden" name="likes" value="{{ i.upvote }}">
                                <input type="hidden" name="review_id" value="{{ i.id }}">
                                <button type="submit" class="btn btn-link">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                         class="bi bi-chevron-down {{ 'text-primary' if i.isVoted(current_user.id) == -1 else 'text-muted' }}"
                                         viewBox="0 0 16 16">
                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                    </svg>

                                </button>
                            </form>
                            {#                        {% if i.buyer_id == current_user.id %}#}
                            {#                            <form action="{{ url_for('product.product') }}/{{ product.id }}" id="review_delete_form"#}
                            {#                                  method="post">#}
                            {#                                <input type="hidden" id="action" name="action" value="delete_review">#}
                            {#                                <input type="hidden" name="review_id" value="{{ i.id }}">#}
                            {#                                <input type="submit" value="Delete" class="btn btn-dark">#}
                            {#                            </form>#}
                            {#                        {% endif %}#}
                        {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    </div>

    <br><br>


{% endblock %}
