{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="container" style="background-color: #131921">
            <div class="row justify-content-md-center">
                <form action="{{ '' }}" method="get" style="margin-bottom: 1%;margin-top: 1%;width: 50%;">
                    <input type="hidden" name="start_price" value="{{ request.args.get('start_price') }}">
                    <input type="hidden" name="end_price" value="{{ request.args.get('end_price') }}">
                    <input type="hidden" name="review_above"
                           value="{{ request.args.get('review_above') }}">
                    <input type="hidden" name="page" value="{{ request.args.get('page') }}">
                    <input type="hidden" name="limit" value="{{ request.args.get('limit') }}">

                    <div class="input-group input-group-lg">

                        <select class=" form-select " aria-label="Default select example" name="category"
                                style="width: 5%;">
                            {% for category in categories %}
                                <option {{ 'selected' if request.args.get('category') == category.name }}
                                        value="{{ category.name }}"
                                        style="width: 30px">{{ category.name }}</option>
                            {% endfor %}


                        </select>

                        <input type="text" class="form-control" aria-label="Text input with dropdown button"
                               name="search" id="search" placeholder="Name or description" style="width: 80%"
                               value="{{ request.args.get('search') if 'search' in request.args }}">
                        <button type="submit" class="btn btn-primary" value="Search"
                                style="background-color:#febd69; color:#333333;border-color:#febd69; width: 5%">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container"
             style="border-bottom: 1px solid #ccc;box-shadow: 0 0 10px #ddd; padding-top: 0.5rem;padding-bottom: 0.5rem">
            <div class="row d-flex align-items-center" style="padding-left: 1rem">
                <div class="col-md-8">
                    <span class="fs-3 justify-content-center"
                          style="display:contents">{{ ((request.args.get('page')|int - 1) * request.args.get('limit')|int +1 ) }}-{{ ((request.args.get('page')|int - 1) * request.args.get('limit')|int + avail_products|length) }} of {{ num_products }} results </span>
                    <span class="fs-3 justify-content-center"
                          style="display:contents;">{{ 'for ' if 'search' in request.args and request.args.get('search') != '' }}</span>
                    <span class="fs-3 justify-content-center fw-bold"
                          style="display:contents;color: #c45500!important">{{ '"'+ request.args.get('search') + '"' if 'search' in request.args and request.args.get('search') != '' }}</span>
                </div>
                <div class="col-md-4">
                    <div style="float: right;padding-right: 2rem" class=" justify-content-md-center">
                        <form action="{{ '' }}" method="get" style="margin-bottom: 1%;margin-top: 1%;width: 100%;">
                            <input type="hidden" name="review_above" value="{{ request.args.get('review_above') }}">
                            <input type="hidden" name="start_price" value="{{ request.args.get('start_price') }}">
                            <input type="hidden" name="end_price" value="{{ request.args.get('end_price') }}">
                            <input type="hidden" name="page" value="{{ request.args.get('page') }}">
                            <input type="hidden" name="limit" value="{{ request.args.get('limit') }}">
                            <input type="hidden" name="search"
                                   value="{{ request.args.get('search') if 'search' in request.args }}">
                            <input type="hidden" name="category"
                                   value="{{ request.args.get('category') if 'category' in request.args }}">

                            <div class="input-group input-group-lg">
                                <select onchange="this.form.submit()" class=" form-select "
                                        aria-label="Default select example" name="sort"
                                        style="box-shadow: 0 2px 5px rgb(15 17 17 / 15%);border-radius: 15px;background-color: #f0f2f2">

                                    {% for option in sort_options %}
                                        <option  {{ 'selected' if request.args.get('sort') == option["name"] }}
                                                style=" background-color: #ffffff" value="{{ option["name"] }}"
                                        >{{ ('Sort by: ' if (request.args.get('sort') == option["name"] or 'sort' not in request.args) else '') +  option["name"] }}</option>
                                    {% endfor %}


                                </select>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">

        <div class="row" style="padding-top: 2rem">
            <div class="col-2">

                <div class="row">
                    <h2>Price</h2>
                    <script>

                        function myFunction(start_price, end_price) {
                            document.getElementById("start_price").setAttribute('value', start_price)
                            document.getElementById("end_price").setAttribute('value', end_price)
                            document.getElementById("price_filter_go_button").click()
                        }
                    </script>
                    <div>
                        <ul class="fs-5" style="list-style-type: none;">
                            <li>
                                <a onclick="myFunction(0,25)" id="price_filter" onMouseOver="this.style.color='#c45500'"
                                   onMouseOut="this.style.color='#212529'" style="cursor: pointer;">
                                    <span>Under $25</span>
                                </a>
                            </li>
                            <li>
                                <a onclick="myFunction(25,50)" onMouseOver="this.style.color='#c45500'"
                                   onMouseOut="this.style.color='#212529'" style="cursor: pointer;">
                                    <span>$25 to $50</span>
                                </a>
                            </li>
                            <li>
                                <a onclick="myFunction(50,100)" onMouseOver="this.style.color='#c45500'"
                                   onMouseOut="this.style.color='#212529'" style="cursor: pointer;">
                                    <span>$50 to $100</span>
                                </a>
                            </li>
                            <li>
                                <a onclick="myFunction(100,200)" onMouseOver="this.style.color='#c45500'"
                                   onMouseOut="this.style.color='#212529'" style="cursor: pointer;">
                                    <span>$100 to $200</span>
                                </a>
                            </li>
                            <li>
                                <a onclick="myFunction(200,9999999.99)" onMouseOver="this.style.color='#c45500'"
                                   onMouseOut="this.style.color='#212529'" style="cursor: pointer;">
                                    <span>$200 & Above</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <form action="{{ '' }}" method="get" id="price_filter">
                        <div class="input-group mb-3" style="width: 40%; float: left">
                            <span class="input-group-text" style="background-color: #fff;border-right: none">$</span>
                            <input type="number" step="0.01" class="form-control" name="start_price" placeholder="Min"
                                   style=";border-left: none" id="start_price"
                                   aria-label="Dollar amount (with dot and two decimal places)" min="0"
                                   value="{{ request.args.get('start_price') if 'start_price' in request.args }}">
                        </div>

                        <div class="input-group mb-3" style="width: 40%;margin-left: 1%;float: left;">
                            <span class="input-group-text" style="background-color: #fff;border-right: none">$</span>
                            <input type="number" step="0.01" class="form-control" style="width: 30%;border-left: none"
                                   name="end_price" placeholder="Max" id="end_price"
                                   value="{{ request.args.get('end_price') if 'end_price' in request.args }}"
                                   aria-label="Dollar amount (with dot and two decimal places)" min="0.01">
                        </div>
                        <input type="hidden" name="review_above" value="{{ request.args.get('review_above') }}">
                        <input type="hidden" name="page" value="{{ request.args.get('page') }}">
                        <input type="hidden" name="limit" value="{{ request.args.get('limit') }}">
                        <input type="hidden" name="search"
                               value="{{ request.args.get('search') if 'search' in request.args }}">
                        <input type="hidden" name="category"
                               value="{{ request.args.get('category') if 'category' in request.args }}">

                        <button class="btn " type="submit" id="price_filter_go_button"
                                style="border-radius: 7px;box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);border-color:#d5d9d9;border-width: 1px;border-style: solid;margin-left: 4px">
                            Go
                        </button>
                    </form>

                </div>

                <div class="row">
                    <h2>Customer Reviews</h2>
                    <form action="{{ '' }}" method="get" id="review_filter">
                        <input type="hidden" name="page" value="{{ request.args.get('page') }}">
                        <input type="hidden" name="limit" value="{{ request.args.get('limit') }}">
                        <input type="hidden" name="search"
                               value="{{ request.args.get('search') if 'search' in request.args }}">
                        <input type="hidden" name="category"
                               value="{{ request.args.get('category') if 'category' in request.args }}">
                        <input type="hidden" name="start_price" value="{{ request.args.get('start_price') }}">
                        <input type="hidden" name="end_price" value="{{ request.args.get('end_price') }}">
                        <input type="hidden" name="review_above" id="review_above"
                               value="{{ request.args.get('review_above') }}">
                    </form>
                    <script>

                        function myFunction(start_price, end_price) {
                            document.getElementById("start_price").setAttribute('value', start_price)
                            document.getElementById("end_price").setAttribute('value', end_price)
                            document.getElementById("price_filter_go_button").click()
                        }

                        function review_above(review) {
                            document.getElementById("review_above").setAttribute('value', review)
                            document.getElementById("review_filter").submit()
                        }
                    </script>
                    <div>
                        <ul class="fs-5" style="list-style-type: none;cursor: pointer;">
                            <li onclick="review_above(4)" onMouseOver="this.style.color='#c45500'"
                                onMouseOut="this.style.color='#212529'">
                                <i style=" background-image: url(/static/img.png);background-position:-2px -84px;background-size:512px 256px;height: 22px;width: 95px;overflow: hidden">
                                    <span style="opacity: 0;height: 22px;width: 90px;overflow: hidden;display: inline-block"></span>
                                </i>
                                <span class="{{ 'fw-bold' if request.args.get('review_above') == '4' }}"> & UP</span>
                            </li>
                            <li onclick="review_above(3)" onMouseOver="this.style.color='#c45500'"
                                onMouseOut="this.style.color='#212529'">
                                <i style="background-image: url(/static/img.png);background-position:-293px -180px;background-size:512px 256px;height: 22px;width: 95px;overflow: hidden">
                                    <span style="opacity: 0;height: 22px;width: 90px;overflow: hidden;display: inline-block"></span>
                                </i>
                                <span class="{{ 'fw-bold' if request.args.get('review_above') == '3' }}"> & UP</span>
                            </li>
                            <li onclick="review_above(2)" onMouseOver="this.style.color='#c45500'"
                                onMouseOut="this.style.color='#212529'">
                                <i style="background-image: url(/static/img.png);background-position:-99px -132px;background-size:512px 256px;height: 22px;width: 95px;overflow: hidden">
                                    <span style="opacity: 0;height: 22px;width: 90px;overflow: hidden;display: inline-block"></span>
                                </i>
                                <span class="{{ 'fw-bold' if request.args.get('review_above') == '2' }}"> & UP</span>
                            </li>
                            <li onclick="review_above(1)" onMouseOver="this.style.color='#c45500'"
                                onMouseOut="this.style.color='#212529'">
                                <i style="background-image: url(/static/img.png);background-position:-390px -228px;background-size:512px 256px;height: 22px;width: 95px;overflow: hidden">
                                    <span style="opacity: 0;height: 22px;width: 90px;overflow: hidden;display: inline-block"></span>
                                </i>
                                <span class="{{ 'fw-bold' if request.args.get('review_above') == '1' }}"> & UP</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="container-fluid" style="margin-left: 2rem">
                    <div class="row row-cols-4">

                        {% for product in avail_products %}
                            <div class="col "
                                 style=" padding: 15px;   outline: 1px solid #f5f5f5;outline-offset: -5px;   -moz-outline-radius: 10px; -webkit-outline-radius: 10px;">

                                <div class="row row-cols-1">
                                    <div class="col">
                                        <a href="{{ url_for('product.product') }}/{{ product.id }}">
                                            {% if product.image_path is not none %}
                                                <img src="/static/{{ product.image_path }}" alt="product image"
                                                     width="100%">
                                            {% else %}
                                                <img src="/static/No_Image_Available.jpg" alt="product image"
                                                     height="100%">
                                            {% endif %}
                                        </a>
                                    </div>

                                    <div class="col">
                                        <p class="fs-2" style="margin-bottom: 0">{{ product.name }}</p>
                                    </div>
                                    <div class="col">
                                        <div style="">
                                            {% for i in range(1,6) %}

                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                     fill="currentColor"
                                                     class="bi bi-star-fill" viewBox="0 0 16 16"
                                                     style="color: #ffa41c ">
                                                    {% if product.avg_rating >= i %}
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                    {% elif i -  product.avg_rating < 1  and i -  product.avg_rating > 0 %}

                                                        <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                                                    {% else %}
                                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                    {% endif %}
                                                </svg>

                                            {% endfor %}
                                            <p class="fs-5" style="vertical-align: top;color: #007185;display: inline">
                                                {{ product.total_reviews }}</p>
                                            <p class="fs-5">
                                                ({{ "%.1f"|format(product.avg_rating) }}
                                                out of 5.0)</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span class="fs-5" style="vertical-align: super">$</span>
                                            {% if product.price is not none %}
                                                {% set price_split_with_dot = ("%.2f"|format(product.price)).split('.') %}
                                                <span class="fs-2">{{ price_split_with_dot[0] }}</span>
                                                <span class="fs-5"
                                                      style="vertical-align: super">{{ price_split_with_dot[1] }}</span>
                                            {% else %}
                                                <span class="fs-5"
                                                      style="vertical-align: super">Price Not Available</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>

                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {{ 'disabled' if  request.args.get('page') == "1" }}">
                            <a class="page-link" href="
                                    {{ url_for('product.browser',page = request.args.get('page')|int - 1, limit =  request.args.get('limit')|int,search=request.args.get('search'),category=request.args.get('category'), sort=request.args.get('sort'), start_price=request.args.get('start_price'), end_price = request.args.get('end_price'),review_above = request.args.get('review_above')) }}">Previous</a>
                        </li>

                        {% for i in range(max_page) %}
                            <li class="page-item {{ 'active' if request.args.get('page') == (i+1)|string }}"
                                aria-current="page">
                                <a class="page-link"
                                   href="







                                           {{ url_for('product.browser',page = i+1, limit = request.args.get('limit'),search=request.args.get('search'),category=request.args.get('category'), sort=request.args.get('sort'), start_price=request.args.get('start_price'), end_price = request.args.get('end_price') ,review_above = request.args.get('review_above'))}}">
                                    {{ i+1 }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {{ 'disabled' if   request.args.get('page') == (max_page)|string }}">
                            <a class="page-link" href="
                                    {{ url_for('product.browser',page = request.args.get('page')|int + 1, limit =  request.args.get('limit')|int,search=request.args.get('search'),category=request.args.get('category'), sort=request.args.get('sort'), start_price=request.args.get('start_price'), end_price = request.args.get('end_price'),review_above = request.args.get('review_above')) }}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>


    <br><br>
    {% if current_user.is_authenticated %}

    {% else %}
        <p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
    {% endif %}

{% endblock %}
