{% extends "base.html" %}

{% block content %}

    <br><br>
    <div class="container">
        <h2>Purchase Details</h2>

        <br>
        <h2>Thank you for your order, {{ current_user.firstname }}! </h2>
        <br>

        <table class='table table-hover table-bordered container'>
            <thead class="thead-dark">
            <tr>
                <th scope="col">Product name</th>
                <th scope="col">Seller</th>
                <th scope="col">Final Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Fulfillment Status</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row">{{ order.product_name }}</th>

                    <td><a href="{{ url_for('users.user_public_view',user_id= order.seller_id) }}">
                        <div style="height:100%;width:100%">
                            {{ order.seller_name }}
                        </div>
                    </a></td>
                    <td>{{ order.price_at_placement }}</td>
                    <td>{{ order.qty }}</td>
                    <td>{{ order.fulfillment_status }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h4 style="float: right">Total price: {{ purchase_details.total_price }}</h4>

    </div>


{% endblock %}
