{% extends "base.html" %}
{% block content %}
<br><br>
<form action="" method="post" novalidate class="float">
    {{ form.hidden_tag() }}
    <p>
        {{ form.orderid.label }}<br/>
        {{ form.orderid(size=32) }}<br/>
        {% for error in form.orderid.errors %}
            <span style = "color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.fulfill.label }}<br/>
        {{ form.fulfill() }}<br/>
        {% for error in form.fulfill.errors %}
            <span style = "color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
        <p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </p>
<p>
    {{ form.submit(class_="btn btn-black") }}
    </p>
</form>









<br><br>
    <h2>Your Customers' Purchases:</h2>
    <br><br>
    <table class='table table-hover table-bordered container' , id="seller-order-table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Purchase id</th>
            <th scope="col">Buyer Name</th>
            <th scope="col">Buyer address</th>
            <th scope="col">Date Order Placed</th>
            <th scope="col">Overall Fulfillment Status</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Total Price</th>
            <th scope="col">More Details</th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in purchase %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td>{{ purchase.firstname }} {{ purchase.lastname }}</td>
                <td>{{ purchase.address }}</td>
                <th scope="row">{{ purchase.time_purchased }}</th>
                <td>{{ purchase.fulfillment_status }}</td>
                <td>{{ purchase.total_amount }}</td>
                <td>{{ purchase.total_price }}</td>
                <td>
                    <div><p><a href="{{ url_for('orders.orders', sid=current_user.id, purchase_id=purchase.id) }}"
                               type="button" class="btn btn-dark">Details</a></p></div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}