{% extends "base.html" %}
{% block content %}
    <div class="container">
        <br>

        <h2>Your recent purchases:</h2>

        <form action="" method="post" novalidate class="float">
            {{ form.hidden_tag() }}
            <p>
                {{ form.item.label }}<br/>
                {{ form.item(size=32) }}<br/>
                {% for error in form.item.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.seller.label }}<br/>
                {{ form.seller(size=32) }}<br/>
                {% for error in form.seller.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.start_date.label }}<br/>
                {{ form.start_date(size=32) }}<br/>
                {% for error in form.start_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.end_date.label }}<br/>
                {{ form.end_date(size=32) }}<br/>
                {% for error in form.end_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </p>
            <p>
                {{ form.submit(class_="btn btn-black") }}
            </p>

        </form>
        <br>
        <br>
        <table class='table table-hover table-bordered container'>
            <thead class="thead-dark">
            <tr>
                <th scope="col">Purchase Time</th>
                <th scope="col">Total Amount</th>
                <th scope="col"># of items</th>
                <th scope="col">Fulfillment Status</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            {% for purchase in purchase_history %}
                <tr>
                    <th scope="row">{{ purchase.time_purchased }}</th>
                    <td>{{ purchase.total_amount }}</td>
                    <td>{{ purchase.total_price }}</td>
                    <td>{{ purchase.fulfillment_status }}</td>
                    <td><a href="/purchaseDetails/{{ purchase.id }}">Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container" id="category_pie"
             style="width: 800px;height:800px; margin-top: 3%;margin-bottom: 3%"></div>
        <script type="text/javascript">


            let echartsObj = echarts.init(document.querySelector('#category_pie'));


            let graph_dataset = []


            axios.get('/api/purchaseHistory/category').then(resp => {

                console.log(resp.data);
                for (const obj of resp.data) {

                    graph_dataset.push({"value": obj.category_purchased_times, "name": obj.category_name})
                }
                console.log(graph_dataset)
                option = {
                    legend: {
                        top: 'bottom'
                    },
                    title: {
                        text: 'Overall Purchase by category',
                        textStyle: {
                            fontFamily: 'lato'
                        }
                    },
                    tooltip: {
                        trigger: 'item'
                    },
                    toolbox: {
                        feature: {
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    series: [
                        {
                            name: 'Purchase by category',
                            type: 'pie',
                            radius: [50, 250],
                            center: ['50%', '50%'],
                            roseType: 'area',
                            itemStyle: {
                                borderRadius: 8
                            },
                            data: graph_dataset
                        }
                    ]
                };

                console.log(option)
                echartsObj.setOption(option)
            });


        </script>

    </div>
{% endblock %}