{% extends "base.html" %}

{% block content %}

    <br><br>

    <h2>{{ page_title }}</h2>
    <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
        <tr>
            <th scope="col"><a href="{{ url_for(request.endpoint) }}{{ get_param }}&sort_by=id">Product ID</a></th>
            <th scope="col">Image</th>
            <th scope="col"><a href="{{ url_for(request.endpoint) }}{{ get_param }}&sort_by=name">Product Name</a></th>
            <th scope="col"><a href="{{ url_for(request.endpoint) }}{{ get_param }}&sort_by=price%20DESC">Price</a></th>
            <th scope="col"><a href="{{ url_for(request.endpoint) }}{{ get_param }}&sort_by=avg_rating%20DESC">Average Rating</a></th>
        </tr>
        </thead>
        <tbody>
        {% for product in avail_products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>
                    {% if product.image_path is not none %}
                        <img src="/static/{{ product.image_path }}" alt="product image" height="38">
                    {% else %}
                        <img src="/static/No_Image_Available.jpg" alt="product image" height="38">
                    {% endif %}
                </td>
                <td><a href="{{ url_for('product.product') }}/{{ product.id }}">{{ product.name }}</a></td>
                <td>{{ product.price if product.price is not none else "N/A" }}</td>
                <td>{{ "%.1f"|format(product.avg_rating) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
