{% extends "base.html" %}
{% block content %}
    <br>
    <h1>Your Seller & Product Reviews </h1>
    <br><br>
    <h2>Seller Reviews:</h2>

    <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
        <tr>
            <th scope="col">Rating</th>
            <th scope="col">Seller ID</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Upvotes</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        {% for i in seller_review %}
            <tr>
                <th scope="row">
                    {% for i in range(i.rating) %}
                        ⭐
                    {% endfor %}
                </th>


                <td><a href="{{ url_for('users.user_public_view',user_id = i.seller_id) }}">
                    <div style="height:100%;width:100%">
                        {{ i.seller_id }}
                    </div>
                </a></td>
                <td>{{ i.description }}</td>
                <td>{{ i.time_review }}</td>
                <td>{{ i.upvote }}</td>
                <td>

                    <a href="{{ url_for('reviews.addReview',type='seller',id=i.seller_id) }}" class="btn btn-primary">Edit</a>

                    <form action="" id="delete_seller_review" method="post">
                        <input type="hidden" name="action" value="delete_seller_review">
                        <input type="hidden" name="review_id" value="{{ i.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <h2>Product Reviews:</h2>

    <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
        <tr>
            <th scope="col">Rating</th>
            <th scope="col">Product ID</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Upvotes</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        {% for review in product_review %}
            <tr>
                <th scope="row">
                    {% for i in range(review.rating) %}
                        ⭐
                    {% endfor %}
                </th>

                <td><a href="{{ url_for('product.product',pid = review.product_id) }}">
                    <div style="height:100%;width:100%">
                        {{ review.product_id }}
                    </div>
                </a></td>
                <td>{{ review.description }}</td>
                <td>{{ review.time_review }}</td>
                <td>{{ review.upvote }}</td>
                <td>

                    <a href="{{ url_for('reviews.addReview',type='product',id=review.product_id) }}"
                       class="btn btn-primary">Edit</a>

                    <form action="" id="delete_seller_review" method="post">
                        <input type="hidden" name="action" value="delete_product_review">
                        <input type="hidden" name="review_id" value="{{ review.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}