{% extends "base.html" %}

{% block content %}

    <h3>Account Number:{{ user.id }}</h3>
    <h3>Name:{{ user.firstname }} {{ user.lastname }}</h3>
    {% if isSeller %}
        <h3>Email:{{ user.email }}</h3>
        <h3>Address:{{ user.address }}</h3>
        <p>Average Rating: {{ "%.1f"|format(avg_rating) }}</p>
        <p>Number of Reviews: {{ reviews|length }}</p>
        <h2>Seller Reviews</h2>
        {% if isOrderedFromSeller %}
            <a href="{{ url_for('reviews.addReview', type='seller',id=user.id) }}">{{ 'Write a review...' if isNewReview else 'Update your review' }}</a>
        {% endif %}

        <table class='table table-hover table-bordered container'>
            <thead class="thead-dark">
            <tr>
                <th scope="col">Rating</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Upvotes</th>
                <th scope="col">Vote</th>
            </tr>
            </thead>

            <tbody>
            {% for i in reviews %}
                <tr>
                    <th scope="row">
                        {% for i in range(i.rating) %}
                            ⭐
                        {% endfor %}
                    </th>
                    <td>{{ i.description }}</td>
                    <td>{{ i.time_review }}</td>
                    <td>{{ i.upvote }}</td>
                    <td>
                        {% if current_user.is_authenticated %}
                            <form action="" id="upvote_form" method="post">
                                <input type="hidden" name="action" value="upvote">
                                <input type="hidden" name="review_id" value="{{ i.id }}">
                                <button type="submit" class="btn btn-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                         class="bi bi-chevron-up {{ 'text-primary' if i.isVoted(current_user.id) == 1 else 'text-muted' }}"
                                         viewBox="0 0 16 16">
                                        class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                    </svg>
                                </button>
                            </form>
                            <form action="" id="down_vote_form"
                                  method="post">
                                <input type="hidden" name="action" value="down_vote">
                                <input type="hidden" name="review_id" value="{{ i.id }}">
                                <button type="submit" class="btn btn-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                         class="bi bi-chevron-down {{ 'text-primary' if i.isVoted(current_user.id) == -1 else 'text-muted' }}"
                                         viewBox="0 0 16 16">
                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                    </svg>
                                </button>
                            </form>
                            {#                        {% if i.buyer_id == current_user.id %}#}
                            {#                            <form action="{{ url_for('product.product') }}/{{ product.id }}" id="review_delete_form"#}
                            {#                                  method="post">#}
                            {#                                <input type="hidden" id="action" name="action" value="delete_review">#}
                            {#                                <input type="hidden" name="review_id" value="{{ i.id }}">#}
                            {#                                <input type="submit" value="Delete" class="btn btn-dark">#}
                            {#                            </form>#}
                            {#                        {% endif %}#}
                        {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% endif %}


{% endblock %}